src/main/mule/OAuthToken.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3fb358a0-e8e8-440b-9acf-89991205312b" >
		<http:listener-connection host="0.0.0.0" port="8093" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="35322e8f-b749-462d-b46c-a43ed694d71a" basePath="/v2" >
		<http:request-connection protocol="HTTPS" host="api.einstein.ai" port="443" />
	</http:request-config>
	<flow name="OAuthToken" doc:id="a8151abb-d60b-4f25-9d4b-0e5404ba39e4" >
		<http:listener doc:name="Listener" doc:id="c9586eda-e619-4c7f-b8e0-9646bdd5ae5c" config-ref="HTTP_Listener_config" path="/getToken" outputMimeType="multipart/form-data" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="6884ed26-7ff8-4259-9a6c-c20f11f0dcff" message='#["test path Mule : ${mule.home}"]'/>
		<ee:transform doc:name="Transform Message" doc:id="a4412b79-dce8-40ad-882e-06f9f878e9da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"privatekey": payload.parts.RSAprivateKey.content replace ("\n") with "",
	"payload": {
		"sub": payload.parts.userId.content,
		"aud": "https://api.einstein.ai/v2/oauth2/token",
		"exp": now() as Number + (payload.parts.expTime.content as Number * 60)
	},
	"header": {
		"alg": "RS256",
		"typ": "JWT"
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="filePath" ><![CDATA[%dw 2.0
output application/java
---
p('mule.home') ++ "\\InputRequest_" ++ (now() as String {"format" : "MMddyy_hh_mm_ss_SSS"}) ++ ".json"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-payload value="#[output application/java&#10;---&#10;write(payload,'application/json') as String]" doc:name="Set Payload" doc:id="7b8b939c-6442-420b-8d48-13f787821a0e" />
		<file:write doc:name="Write" doc:id="6461a367-783c-4321-b042-966c11800f46" path="#[vars.filePath]"/>
		<java:invoke-static method="createToken(java.lang.String)" doc:name="Invoke static" doc:id="ba8e6286-762e-4eff-b4da-ebb2f9ad35c6" class="com.jwt.oauth.JwtTokenCreator">
			<java:args ><![CDATA[#[output application/java
---
{
	arg0: vars.filePath
}]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="c87ca771-edbc-4e94-8bc1-a5b04804482e" message='#["Token" : payload]'/>
		<ee:transform doc:name="Transform Message" doc:id="f609b870-fe59-4804-bd0d-baf9e312ffb6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/x-www-form-urlencoded
---
{
	"grant_type" : "urn:ietf:params:oauth:grant-type:jwt-bearer",
	"assertion" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Salesforce token generation call" doc:id="3bcee0cc-2717-47fc-b9b7-0eaf29b80e8d" config-ref="HTTP_Request_configuration" path="/oauth2/token" />
		<logger level="INFO" doc:name="Logger" doc:id="853e06ef-48a1-4719-83ba-42e0774f8c1a" message="Final Response: #[payload]" />
	</flow>
</mule>
